@model WEB_Shop_core.Data.Models.LoginModel
@{
    ViewBag.Title = "Пользователь";
}
<div style="width:auto">
    <table style="margin: 0 auto; padding-bottom:10px; padding-top:10px">
        <tr>

            <td>
                <form asp-controller="home" asp-action="Login" asp-anti-forgery="true">
                    <h3 style="text-align:center; border-bottom:none; margin:0px; padding:0px">Авторизация</h3>
                    <div>
                        <input asp-for="Login" placeholder="Логин" />
                        <span asp-validation-for="Login"></span>
                    </div>
                    <div>
                        <input asp-for="Password" placeholder="Пароль" />
                        <span asp-validation-for="Password"></span>
                    </div>
                    <button type="submit" style="width:100%">Авторизация</button>
                </form>
            </td>
        </tr>
    </table>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
</div>