@model WEB_Shop_core.Data.Models.Mebel
<table>
    <tr>
        <td>
            <img src="~/Assets/@Model.img" style=" width:500px; margin:10px;" />
        </td>
        <td>
            <table style="color:white">
                <tr>
                    <td>
                        <h1>
                            @Model.name
                        </h1><hr />
                    </td>
                </tr>
                <tr>
                    <td>
                        Фабрика: MODUM.
                        <hr />
                    </td>
                </tr>

                <tr>
                    <td>
                        @Model.shortDesc
                        <hr />
                    </td>
                </tr>
                <tr>
                    <td>
                        Стоимость: @Model.prise руб
                        <hr />
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/Home/AddToCart?id=@Model.id">Добавить в корзину</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
