@model WEB_Shop_core.Data.Models.RegisteViewModel
@{
    ViewBag.Title = "Пользователь";
}

<div style="width:auto">
    <table style="margin: 0 auto; padding-bottom:10px; padding-top:10px">
        <tr>
            <td>

                <h3 style="text-align:center; border-bottom:none; margin:0px; padding:0px">Вход</h3>
                <div>
                    <input placeholder="Логин" />
                </div>
                <div>
                    <input placeholder="Пароль" />
                </div>
                <button style="width:100%">Войти</button>
            </td>
            <td>
                <form asp-controller="home" asp-action="User" method="post">
                    <h3 style="text-align:center; border-bottom:none; margin:0px; padding:0px">Регистрация</h3>
                    <div>
                        <input asp-for="Email" placeholder="Почта" />
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div>
                        <input asp-for="Login" placeholder="Логин" />
                        <span asp-validation-for="Login"></span>
                    </div>
                    <div>
                        <input asp-for="Password" placeholder="Пароль" />
                        <span asp-validation-for="Password"></span>
                    </div>
                    <div>
                        <input asp-for="PasswordConfirm" placeholder="Потверждение пароля" />
                        <span asp-validation-for="PasswordConfirm"></span>
                    </div>
                    <button type="submit" style="width:100%">Регистрация</button>
                </form>
            </td>
        </tr>
    </table>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
</div>

